html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

.link {
  text-decoration: inherit;
  color: inherit;
}

.main-page {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url('../images/greybg.png');
  z-index: -100;
}

.main-img-link-grid {
  display: grid;
  overflow: hidden;
  width: max-content;
  height: max-content;
}

.logo-img {
  position: absolute;
  width: clamp(100px, min(30vw, 30vh), 300px);

  margin: 2rem;
}

.hero-img {
  width: auto;
  height: min(90vh, 120vw);
  grid-column: 1;
  grid-row: 1;
}

@media (max-width: 700px) {
  .hero-img {
    height: 100vh;
  }
}

.shop-wrapper {
  min-width: 100vw;
  display: flex;
  justify-content: center;
}

.shop-container {
  width: clamp(300px, 90vw, 1024px);
  max-width: 1024px;
}

@media (max-width: 790px) {
  .shop-category--products-wrapper {
    width: 100%;
    justify-content: center;
  }
}

.shop-link {
  font-family: 'Ropa Sans';
  font-size: clamp(2rem, min(8vh, 8vw), 8rem);
  font-weight: bold;
  text-decoration: inherit;
  color: white;
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  justify-self: end;
  align-self: end;
  margin-bottom: clamp(5rem, 10vh, 15rem);
  margin-right: clamp(5rem, 10vh, 15rem);
}

.shop-category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 4rem;
  margin-top: 2rem;
}

.shop-category--title,
.shopping-cart--title {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Ropa Sans';
}

.shop-category--products-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.product-preview-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(150px, 30vw, 200px);
  margin: 1.2rem;
}

.product-preview-card--image {
  width: clamp(150px, 30vw, 200px);
  height: auto;
  margin-top: 1.6rem;
}

.product-preview-card--name {
  font-family: 'Ropa Sans';
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 0.8rem;
  margin-bottom: 0.4rem;
}

.product-preview-card--description {
  font-size: 1.2rem;
  text-align: center;
  margin: 0.25rem;
}

.product-preview-card--price {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0.5rem;
}

.product-details-wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
  max-width: 90vw;
}

.product-details--name {
  font-family: 'Ropa Sans';
  font-size: 2rem;
  font-weight: bold;
}

.product-details--description {
  font-size: 1.2rem;
  text-align: center;
  width: 60%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.product-details--description-long {
  font-size: 1.4rem;
  text-align: center;
  width: 90%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.product-details--activities {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.product-details--hero {
  max-width: 90vw;
  max-height: 60rem;
  margin-bottom: 2rem;
}

.product-details--colors {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  justify-content: center;
}

.product-details--color-preview {
  width: 5rem;
  height: auto;
  padding: 0.25rem;
  margin: 0.25rem;
  cursor: pointer;
}

.product-details--price {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.5rem;
}

.product-details--add-button {
  margin: 1rem;
  color: white;
  background-color: black;
  border: none;
  font-weight: bold;
  font-family: 'Montserrat';
  padding: 0.5rem;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumbs-container {
  margin-left: 2rem;
  font-family: 'Ropa Sans';
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.header-logo {
  width: clamp(50px, 10vw, 100px);
  margin: 1rem;
}

.header-right > .link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
}

.header--quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
}

.header-cart {
  margin: 1rem;
}

.shopping-cart--title {
  margin-top: 1rem;
}

.shopping-cart-order-total {
  display: flex;
  justify-content: space-between;
}

.shopping-cart--total-price {
  font-size: 1.6rem;
  font-weight: bold;
}

.cart-item {
  display: flex;
  align-items: center;
  margin: 1rem;
  justify-content: space-between;
}

.cart-item--image {
  width: 5rem;
  margin-right: 1rem;
}

.cart-item--details-wrapper {
  display: flex;
  flex-direction: column;
}

.cart-item--details {
  font-size: 1.4rem;
  padding: 0.25rem 0.25rem;
}

.cart-item--name,
.cart-item--price {
  font-weight: bold;
}

.cart-item--thumbnail {
  display: flex;
  align-items: center;
}

.cart-item--number-field {
  width: 3rem;
  height: 3rem;
  border: solid 1px black;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

.cart-item--button {
  background-color: transparent;
  border: none;
  outline: none;
  height: 2.8rem;
  width: 2.8rem;
  font-weight: bold;
  font-size: 1.8rem;
  cursor: pointer;
}

.image-carousel--container {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
}

.image-carousel--image,
.image-carousel--selected-image {
  width: 10rem;
  opacity: 0.5;
  padding: 1rem;
  cursor: pointer;
  transition: padding 300ms ease-in-out;
}

.image-carousel--selected-image {
  opacity: 1;
  padding: 0.5rem;
  transition: opacity 300ms ease-out;
}

.image-carousel--image-wrapper {
  overflow: hidden;
}

.image-carousel--image-container {
  display: flex;
  width: max-content;
  transition: transform 300ms ease-in-out;
}

.image-carousel--button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.breadcrumb-link {
  margin: 0.25rem;
  font-size: 1.6rem;
}

.breadcrumb-divider {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
