html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.link {
  text-decoration: inherit;
  color: inherit;
}

.main-page {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url('../images/greybg.png');
  z-index: -100;
}

.main-img-link-grid {
  display: grid;
  width: clamp(320px, 80vw, 100vw);
  height: auto;
  max-height: 100vh;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
}

.hero-img {
  width: clamp(320px, 80vw, 100vw);
  height: auto;
  grid-column: 1 / span 3;
  grid-row: 1 / span 5;
}

.shop-link {
  font-size: clamp(2rem, min(5vh, 5vw), 5rem);
  text-decoration: inherit;
  color: white;
  grid-row: 5;
  grid-column: 3;
  z-index: 1;
}

.shop-category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.shop-category--title {
  font-size: 2rem;
  font-weight: bold;
}

.shop-category--products-wrapper {
  display: flex;
}

.product-preview-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(150px, 30vw, 200px);
  margin: 1.2rem;
  border: solid 1px red;
}

.product-preview-card--image {
  width: clamp(150px, 30vw, 200px);
  height: auto;
  margin-top: 1.6rem;
  border: solid 1px black;
}

.product-preview-card--name {
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 0.8rem;
  margin-bottom: 0.4rem;
}

.product-preview-card--description {
  font-size: 1.2rem;
  text-align: center;
}

.product-preview-card--price {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0.5rem;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-details--name {
  font-size: 2rem;
  font-weight: bold;
}

.product-details--description {
  font-size: 1.2rem;
}

.product-details--colors {
  display: flex;
  flex-wrap: wrap;
}

.product-details--color-preview {
  width: 5rem;
  height: auto;
  padding: 0.25rem;
  margin: 0.25rem;
  border: solid 1px black;
}
