html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.link {
  text-decoration: inherit;
  color: inherit;
}

.hero-img {
  height: 100vh;
  width: auto;
}

.shop-category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.shop-category--title {
  font-size: 2rem;
  font-weight: bold;
}

.shop-category--products-wrapper {
  display: flex;
}

.product-preview-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(150px, 30vw, 200px);
  margin: 1.2rem;
  border: solid 1px red;
}

.product-preview-card--image {
  width: clamp(150px, 30vw, 200px);
  height: auto;
  margin-top: 1.6rem;
  border: solid 1px black;
}

.product-preview-card--name {
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 0.8rem;
  margin-bottom: 0.4rem;
}

.product-preview-card--description {
  font-size: 1.2rem;
  text-align: center;
}

.product-preview-card--price {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0.5rem;
}
